[submodule "task-tracker-backend"]
	path = task-tracker-backend
	url = https://github.com/vinaykumar1ath/task-tracker-backend.git
[submodule "task-tracker-frontend"]
	path = task-tracker-frontend
	url = https://github.com/vinaykumar1ath/task-tracker-frontend.git
